*{
    font-family: monospace, arial, sans-serif;
    color: rgb(161, 81, 81);
  
}
html {
    height: 100%;
    background: linear-gradient(to bottom, rgb(174, 253, 233), white);
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.description {
    width: 500px;
    word-wrap: break-word;
} 
.center {
    text-align: center;
}

.parentimg {
    display: flex;
    /* flex-wrap: wrap; allows to wrap but messes with alignment*/ 
    justify-content: center;
    text-align: center;
    margin: 60px 5% ;
    padding: 50px ; background-color: rgba(255, 0, 200, 0.15);
    border-radius: 10px;
}

.img1 {

    margin: 0 5%;
}

img {
    flex: 0 1 auto;
    max-width: 100%;
    height: auto;

}

.recipeimg {
    display: flex;
    flex: 0 1 auto;
    width: 400px;
    padding: 30px 30px 30px 30px; background-color: rgba(255, 0, 200, 0.15);
    border-radius: 10px;
    margin-bottom: 30px;
}

.intro{
    margin: 0 0 20px 3em;
}

.border {
    border: 2px solid rgba(255, 0, 200, 0.15) ; background-color: white;
    border-radius: 10px;
}